*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #830745,#d073ab);
    padding: 10px;
    ;
}
.todo-app{
    background: #ebc0d8;
    max-width: 540px;
    width: 100%;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.todo-app h2{
    color: #830745;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    align-items: center;

}
.todo-app h2 img{
    width: 35px;
    height: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0 ;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #830745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}
button:hover{
    box-shadow: 0px 0px 10px 0px #ed31a2;   
    cursor: pointer;
    transition: 0.1s;
}
ul li {
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    left: 8px;
    top: 12px;
}
ul li.checked{
    color:#830745;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    color: #555;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #ee70bb;
}